<style>
  #productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  flex: 1;
}

.producto {
  text-align: center;
  font-family: sans-serif;
}

.producto img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 180px;
  margin-bottom: 0.5rem;
}

.codigo {
  font-size: 0.9rem;
  margin: 0;
}

.nombre {
  font-weight: bold;
  margin: 0.2rem 0;
}

.precio {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: #000;
  color: #fff;
}
</style>

<section id="productos-container">
</section>
<script type="module">
  import { obtenerProductos, crearDetalleCarrito } from '../static/js/api-client.js';

  document.addEventListener("DOMContentLoaded", async () => {
    const contenedor = document.getElementById("productos-container");

    async function addToCart(producto) {
    const detalle = {
      id_carrito: 7,
      id_producto: producto.id_producto,
      cantidad: 1,
      subtotal: parseFloat(producto.precio)
    };

    try {
      const respuesta = await crearDetalleCarrito(detalle);
      alert(`✅ Producto "${producto.nombre}" añadido al carrito`);
    } catch (e) {
      alert("❌ Error al añadir al carrito");
    }
  }

    try {
      const productos = await obtenerProductos();

      productos.forEach(producto => {
        const div = document.createElement("div");
        div.className = "producto";

        div.innerHTML = `
          <img src="/static/img/glass.png" alt="Gafa">
          <p class="codigo">ID${producto.id_producto}</p>
          <p class="nombre">${producto.nombre}</p>
          <p class="precio">${Number(producto.precio).toLocaleString('es-CO', {
            style: 'currency',
            currency: 'COP',
            minimumFractionDigits: 0
          })}</p>
          <button class="btn">Añadir al carrito</button>
        `;

        const btn = div.querySelector("button");
        btn.addEventListener("click", async () => await addToCart(producto));

        contenedor.appendChild(div);
      });
    } catch (error) {
      contenedor.innerHTML = "<p>Error cargando productos.</p>";
    }
  });
</script>